body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: "Nanum Gothic", sans-serif;
}

.inner {
  position: relative;
  width: 1100px;
  margin: 0 auto;
}

.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.btn:hover {
  color: #fff;
  background-color: #333;
}

.btn.btn--reverse {
  color: #fff;
  background-color: #333;
}

.btn.btn--reverse:hover {
  background-color: transparent;
  color: #333;
}

.btn.btn--brown {
  color: #592b18;
  border-color: #592b18;
}

.btn.btn--brown:hover {
  color: #fff;
  background-color: #592b18;
}

.btn.btn--gold {
  color: #d9aa8a;
  border-color: #d9aa8a;
}

.btn.btn--gold:hover {
  color: #fff;
  background-color: #d9aa8a;
}

.btn.btn--white {
  color: #fff;
  border-color: #fff;
}

.btn.btn--white:hover {
  color: #333;
  background-color: #fff;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  z-index: 99;
}

header > .inner {
  height: 120px;
}

header > .inner .logo {
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

header > .inner .subMenu {
  position: absolute;
  top: 10px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header > .inner .subMenu .menu {
  font-family: Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header > .inner .subMenu .menu li {
  position: relative;
}

header > .inner .subMenu .menu li::before {
  content: "";
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

header > .inner .subMenu .menu li:first-child::before {
  display: none;
}

header > .inner .subMenu .menu a {
  font-size: 12px;
  padding: 11px 16px;
  display: block;
  color: #656565;
}

header > .inner .subMenu .menu a:hover {
  color: #000;
}

header > .inner .subMenu .search {
  position: relative;
  height: 34px;
}

header > .inner .subMenu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #777;
  font-size: 12px;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

header > .inner .subMenu .search input:focus {
  width: 190px;
  border-color: #669900;
}

header > .inner .subMenu .search .material-icons {
  position: absolute;
  height: 24px;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header > .inner .subMenu .search.focused .material-icons {
  opacity: 0;
}

header > .inner .mainMenu {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header > .inner .mainMenu .item:hover .itemName {
  background-color: #2c2a29;
  color: #669900;
  border-radius: 6px 6px 0 0;
}

header > .inner .mainMenu .item:hover .itemContents {
  display: block;
}

header > .inner .mainMenu .item .itemName {
  padding: 10px 20px 34px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

header > .inner .mainMenu .item .itemContents {
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
}

header > .inner .mainMenu .item .itemContents .contentsMenu {
  background-color: #2c2a29;
}

header > .inner .mainMenu .item .itemContents .contentsMenu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
}

header > .inner .mainMenu .item .itemContents .contentsMenu > ul > li {
  width: 220px;
}

header > .inner .mainMenu .item .itemContents .contentsMenu > ul > li h4 {
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #fff;
}

header > .inner .mainMenu .item .itemContents .contentsMenu > ul > li ul li {
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}

header > .inner .mainMenu .item .itemContents .contentsMenu > ul > li ul li:hover {
  color: #669900;
}

header > .inner .mainMenu .item .itemContents .contentsTexture {
  padding: 26px 0;
  font-size: 12px;
  background-image: url("../images/main_menu_pattern.jpg");
}

header > .inner .mainMenu .item .itemContents .contentsTexture h4 {
  color: #999;
  font-weight: 700;
}

header > .inner .mainMenu .item .itemContents .contentsTexture p {
  color: #669900;
  margin: 4px 0 14px;
}

header .badges {
  position: absolute;
  top: 132px;
  right: 12px;
}

header .badges .badge {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

main .visual {
  margin-top: 120px;
  background-image: url("../images/visual_bg.jpg");
  background-position: center;
}

main .visual .inner {
  height: 646px;
}

main .visual .inner .title {
  position: absolute;
  top: 88px;
  left: -10px;
}

main .visual .inner .title .btn {
  position: absolute;
  top: 259px;
  left: 173px;
}

main .visual .inner .cup1.image {
  position: absolute;
  bottom: 0;
  right: -47px;
}

main .visual .inner .cup1.text {
  position: absolute;
  top: 38px;
  right: 171px;
}

main .visual .inner .cup2.image {
  position: absolute;
  bottom: 0;
  right: 162px;
}

main .visual .inner .cup2.text {
  position: absolute;
  top: 321px;
  right: 416px;
}

main .visual .inner .spoon.image {
  position: absolute;
  bottom: 0;
  left: 275px;
}

main .visual .fade-in {
  opacity: 0;
}

main .notice .noticeLine {
  position: relative;
}

main .notice .noticeLine .bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #333;
}

main .notice .noticeLine .bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
}

main .notice .noticeLine .inner {
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .notice .noticeLine .inner .inner-left {
  width: 60%;
  height: 100%;
  background-color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .notice .noticeLine .inner .inner-left h2 {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}

main .notice .noticeLine .inner .inner-left .swiper-container {
  height: 62px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}

main .notice .noticeLine .inner .inner-left .swiper-container .swiper-wrapper .swiper-slide {
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .notice .noticeLine .inner .inner-left .swiper-container .swiper-wrapper .swiper-slide a {
  color: #fff;
}

main .notice .noticeLine .inner .inner-left .notice-line_more {
  width: 62px;
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .notice .noticeLine .inner .inner-left .notice-line_more .material-icons {
  color: #fff;
  font-size: 30px;
}

main .notice .noticeLine .inner .inner-right {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .notice .noticeLine .inner .inner-right h2 {
  font-size: 17px;
  font-weight: 700;
}

main .notice .noticeLine .inner .inner-right .toggle-promotion {
  width: 62px;
  height: 62px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .notice .noticeLine .inner .inner-right .toggle-promotion .material-icons {
  font-size: 30px;
}

main .notice .promotion {
  position: relative;
  height: 693px;
  background-color: #f6f5ef;
  -webkit-transition: height 0.4s;
  transition: height 0.4s;
  overflow: hidden;
}

main .notice .promotion .swiper-container {
  width: calc(819px * 3 + 20px);
  height: 553px;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: calc((819px * 3 + 20px) / -2);
  overflow: hidden;
}

main .notice .promotion .swiper-container .swiper-wrapper .swiper-slide {
  position: relative;
  opacity: 0.5;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

main .notice .promotion .swiper-container .swiper-wrapper .swiper-slide .btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

main .notice .promotion .swiper-container .swiper-wrapper .swiper-slide-active {
  opacity: 1;
}

main .notice .promotion .swiper-pagination {
  bottom: 40px;
  left: 0;
  right: 0;
}

main .notice .promotion .swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  background: url("../images/promotion_slide_pager.png");
  width: 12px;
  height: 12px;
  margin-right: 6px;
  outline: none;
}

main .notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}

main .notice .promotion .swiper-pagination .swiper-pagination-bullet-active {
  background: url("../images/promotion_slide_pager_on.png");
}

main .notice .promotion .swiper-prev,
main .notice .promotion .swiper-next {
  position: absolute;
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  top: 300px;
  z-index: 1;
  cursor: pointer;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main .notice .promotion .swiper-prev:hover,
main .notice .promotion .swiper-next:hover {
  background-color: #333;
  color: #fff;
}

main .notice .promotion .swiper-prev {
  left: 50%;
  margin-left: -480px;
}

main .notice .promotion .swiper-next {
  right: 50%;
  margin-right: -480px;
}

main .notice .promotion.hide {
  height: 0;
}

main .rewards {
  position: relative;
}

main .rewards .bg-left {
  width: 50%;
  height: 100%;
  background-color: #272727;
  position: absolute;
  top: 0;
  left: 0;
}

main .rewards .bg-right {
  width: 50%;
  height: 100%;
  background-color: #d5c798;
  position: absolute;
  top: 0;
  right: 0;
}

main .rewards .inner {
  background-image: url("../images/rewards.jpg");
  height: 241px;
}

main .rewards .inner .btnGroup {
  position: absolute;
  bottom: 24px;
  right: 0;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .rewards .inner .btnGroup .btn.sign-up {
  margin-right: 10px;
}

main .rewards .inner .btnGroup .btn.sign-in {
  width: 110px;
}

main .rewards .inner .btnGroup .btn.gift {
  margin-top: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

main .youtube {
  position: relative;
  height: 700px;
  background-color: #333;
  overflow: hidden;
}

main .youtube .youtubeArea {
  width: 1920px;
  background-color: orange;
  position: absolute;
  left: 50%;
  margin-left: calc(1920px / -2);
  top: 50%;
  margin-top: calc(1920px * 9 / 16 / -2);
}

main .youtube .youtubeArea::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

main .youtube .youtubeArea .player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

main .youtube .youtubeCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/video_cover_pattern.png");
  background-color: rgba(0, 0, 0, 0.3);
}

main .youtube .inner {
  height: 700px;
}

main .youtube .inner .floating1 {
  position: absolute;
  top: 50px;
  left: 0;
}

main .youtube .inner .floating2 {
  position: absolute;
  top: 350px;
  left: 150;
}

main .seasonProduct {
  background-image: url("../images/season_product_bg.jpg");
}

main .seasonProduct .inner {
  height: 400px;
}

main .seasonProduct .inner .floating3 {
  position: absolute;
  top: -200px;
  right: 0;
}

main .seasonProduct .inner .textGroup {
  position: absolute;
  top: 110px;
  right: 100px;
}

main .seasonProduct .inner .textGroup .title {
  margin-bottom: 10px;
}

main .seasonProduct .inner .textGroup .description {
  margin-bottom: 15px;
}

main .reserveCoffee {
  background-image: url("../images/reserve_bg.jpg");
}

main .reserveCoffee .inner {
  height: 400px;
}

main .reserveCoffee .inner .reserveLogo {
  position: absolute;
  top: 110px;
  left: 0;
}

main .reserveCoffee .inner .textGroup {
  position: absolute;
  top: 124px;
  left: 208px;
}

main .reserveCoffee .inner .product {
  position: absolute;
  top: 0;
  right: 0;
}

main .pickYourFavorite {
  background-image: url(../images/favorite_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

main .pickYourFavorite .inner {
  padding: 110px 0;
}

main .pickYourFavorite .inner .textGroup {
  margin-left: 100px;
  width: 362px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .pickYourFavorite .inner .textGroup .title {
  margin-bottom: 40px;
}

main .pickYourFavorite .inner .textGroup .description {
  margin-bottom: 40px;
}

main .reserveStore {
  background-image: url(../images/reserve_store_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

main .reserveStore .inner {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .reserveStore .inner .medal {
  width: 334px;
  height: 334px;
  -webkit-perspective: 600px;
          perspective: 600px;
}

main .reserveStore .inner .medal .front,
main .reserveStore .inner .medal .back {
  position: absolute;
  width: 334px;
  height: 334px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

main .reserveStore .inner .medal .front {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

main .reserveStore .inner .medal .back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

main .reserveStore .inner .medal .back .btn {
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  margin: auto;
}

main .reserveStore .inner .medal:hover .front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

main .reserveStore .inner .medal:hover .back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
/*# sourceMappingURL=style.css.map */